/* styles.css */

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000;
  position: relative;
  overflow: auto;
}

.home-page, .main-layout, .student-layout {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  height: 1000px;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center; 
  overflow: hidden;}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.sidebar a:hover {
  color: #EAD012;
}

 a.active {
  color: #EAD012;
}



/* styles.css */

/*Slider*/
.banner-slider {
  width: 1050px;
  max-width: 1050px; 
  margin: 0 auto;
  position: relative;
  left: -15px;
  top:300px;
}

.slick-slide {
  padding: 0 10px;
}

.slick-slide img {
  width: 100%;
  border-radius: 5px;
  height: auto;
}

.slick-dots {
  position: absolute;
  bottom: -50px;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots button {
  font-size: 12px;
  line-height: 1;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.slick-dots button:hover,
.slick-dots button.slick-active {
  background-color: #EAD012;
}


.slick-prev, .slick-next {
  font-size: 24px;
  line-height: 1;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slick-prev {
  left: 30px;
}

.slick-next {
  right: 10px;
}

/* About me Section */

.about-me-section{

    width: 990px;
    position: absolute;
    left: 255px;
    height: 350px;
}
/* News Section */
.news-section {
  margin-top: 20px;
}

.news-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.news-section ul {
  list-style: none;
  padding: 0;
}

.news-item {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  width:360px;
}

.news-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color:#000;
}

.news-item p {
  font-size: 16px;
  color: #000;
  word-wrap: break-word;
}

/* styles.css */

/* Student Page */

.student-page {
  width: 850px;
  left:30px;
  position: relative;
}

/* Add Student Form */
.add-student-form {
  max-width: 100%; 
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.add-student-form label {
  display: block;
  margin-bottom: 8px;
  color: #000;
}

.add-student-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  background-color: #000;
}
.add-student-form h3{
  color:#000;
}
.add-student-form button {
  background-color:#EAD012;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-student-form button:hover {
  background-color: #45a049;
}
.add-student-form select{
  background-color: #000;
  width:100px;
  margin: 0 15px 0 0;
  height: 35px;
}
/* List of Students */
.student-list {
  max-width: 100%; 
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-height: 500px;
  overflow: auto;
}
.student-list h3{
  color:#000;
}
.student-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.student-item:last-child {
  border-bottom: none;
}

.student-name {
  font-weight: bold;
  color:#000;
  
}

.student-grade {
  font-weight: bold;
  color: #000;
  margin-left: 50px;
}
.student-batch{
  font-weight: bold;
  color:#000;
  margin-left: 50px;
}
.student-item button {
  background-color: #EAD012;
  color: #000;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.student-item button:hover {
  background-color: #4caf50;
}

/* styles.css */

/* Contact Us Page */
.contact-us-layout {
  display: flex;
}

.contact-us-page {
  width: 1050px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.contact-us-page h2 {
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

/* Contact Us Form */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  color: #000;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #000;
}

button {
  background-color: #EAD012;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


/* styles.css */

/* Sidebar Navigation */
.sidebar {
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.sidebar a:active{
  color:#EAD012 !important;
}

/* Signup Page */
.signup-layout {
  display: flex;
}

.signup-page {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.signup-page h2 {
  color: #fff;
}

.signup-page form {
  display: flex;
  flex-direction: column;
  color:#fff;
}

.signup-page label {
  margin-bottom: 8px;
  color: #fff;
}

.signup-page input {
  padding: 8px;
  margin-bottom: 16px;
}

.signup-page button {
  background-color: #EAD012;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-page button:hover {
  background-color: #45a049;
}


/* AttendancePage.css */
.page-container {
  display: flex;
}

.content-container {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  width:850px;
}
.content-container h1{
  color:#000;
  text-align: center;
}
form {
  max-width: 400px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 10px;
  color:#fff;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button {
  background-color: #EAD012 !important;
  color: #000 !important;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049 !important;
  color: #fff !important;
  border: 1px solid #000 !important;
}



/*Contact -us*/

/* Add this CSS to your stylesheet or App.css file */

.contact-us-layout {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.contact-us-page {
  width: 850px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  color:#000;
}

input,
textarea {
  margin-bottom: 16px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.thank-you-message {
  background-color: #EAD012;
  color: #000;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}


/*Password Prompt*/

.password-prompt{
  background-color: #fff;
  width: 850px;
  height: 500px;
  position: relative;
  left:450px;
}
.password-prompt h2{
  color:#000;
  width: 850px;
}
.password-prompt form{
  position: absolute;
  top:100px;
  left:170px;
}

.success-message{
  color:#000;
}